{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Metrics</title>
{% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #282828;
            color: #fff;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            margin: 5px auto;
            padding: 5px;
            background-color: #fff;
            border-radius: 8px;
            color: #111111;
        }
        h1 {
            text-align: center;
            color: #111111;
        }
        table {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
            background-color: #444;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: #fff;
        }
        th, td {
            border: 1px solid #555;
            padding: 12px;
            text-align: center;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #555;
        }
        tr:nth-child(odd) {
            background-color: #444;
        }
        tr:hover {
            background-color: #666;
        }
        .metrics {
            margin-bottom: 20px;
        }
        .metrics img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
    <div class="container">
        <h1>Métricas dos modelos</h1>
        <div class="metrics">
            <h2>Modelo de previsão da nota de matemática</h2>
            <table>
                <thead>
                    <tr>
                        <th>Métrica</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MSE</td>
                        <td>{{ math_metrics.mse_test }}</td>
                    </tr>
                    <tr>
                        <td>MAE</td>
                        <td>{{ math_metrics.mae_test }}</td>
                    </tr>
                    <tr>
                        <td>RMSE</td>
                        <td>{{ math_metrics.rmse_test }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="metrics">
            <h2>Modelo de previsão da nota de leitura</h2>
            <table>
                <thead>
                    <tr>
                        <th>Métrica</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MSE</td>
                        <td>{{ reading_metrics.mse_test }}</td>
                    </tr>
                    <tr>
                        <td>MAE</td>
                        <td>{{ reading_metrics.mae_test }}</td>
                    </tr>
                    <tr>
                        <td>RMSE</td>
                        <td>{{ reading_metrics.rmse_test }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="metrics">
            <h2>Modelo de previsão da nota de escrita</h2>
            <table>
                <thead>
                    <tr>
                        <th>Métrica</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MSE</td>
                        <td>{{ writing_metrics.mse_test }}</td>
                    </tr>
                    <tr>
                        <td>MAE</td>
                        <td>{{ writing_metrics.mae_test }}</td>
                    </tr>
                    <tr>
                        <td>RMSE</td>
                        <td>{{ writing_metrics.rmse_test }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
