{% extends 'main/base.html' %}

{% block content %}
<style>
    body {
        background-color: #333;
    }
    .signup-container {
        max-width: 340px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #444;
        border-radius: 8px;
        margin: 50px auto 100px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        color: #ccc;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .btn {
        width: 100%;
        padding: 10px;
        background-color: #5cb85c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #4cae4c;
    }
    .links a {
        color: #88c;
        text-decoration: none;
    }
    .links a:hover {
        text-decoration: underline;
    }
</style>
<div class="signup-container">
    <h2>Sign Up</h2>
    <form method="post" class="signup-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" required>
        </div>
        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email" required>
        </div>
        <div class="form-group">
            <label for="id_password1">Password:</label>
            <input type="password" name="password1" id="id_password1" required>
        </div>
        <div class="form-group">
            <label for="id_password2">Confirm Password:</label>
            <input type="password" name="password2" id="id_password2" required>
        </div>
        <div class="form-group">
            <label for="id_perfil">Profile:</label>
            <select name="perfil" id="id_perfil" required>
                <option value="professor">Professor</option>
                <option value="data scientist">Data Scientist</option>
                <option value="user">User</option>
            </select>
        </div>
        <button type="submit" class="btn">Sign Up</button>
    </form>
</div>
{% endblock %}
