{% extends 'main/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
  Bem-vindo, {{ user.username }}!
</div>
<style>
    .btn-image {
  background-size: cover;
  height: 100px;
  width: 100px;
  border: none;
  display: block;
  margin: auto;
}

.btn-text {
  text-align: center;
  color: white; /* Change color as needed */
}

/* Optional: Adjust the following to better fit your design needs */
.container .col {
  padding: 10px;
}

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Ver Perfil</a></li>
            <li><a class="dropdown-item" href="{% url 'edit_account' %}">Editar Conta</a></li>
            <li><a class="dropdown-item" href="{% url 'view_notifications' %}">Ver Notificações</a></li>
          </ul>
        </li>
        {% if request.user.is_authenticated and request.user.profile.perfil == 'data scientist' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dataScientistDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ferramentas do Data Scientist
          </a>
          <ul class="dropdown-menu" aria-labelledby="dataScientistDropdown">
            <li><a class="dropdown-item" href="{% url 'change_documentation' %}">Documentar as Mudanças</a></li>
            <li><a class="dropdown-item" href="{% url 'create_notification' %}">Criar Notificações</a></li>
            <li><a class="dropdown-item" href="{% url 'list_data_entries' %}">Pedidos de inserção de dados</a></li>
            <li><a class="dropdown-item" href="{% url 'view_changes' %}">Ver Mudanças</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dataScientistDataModule" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Modelo Preditivo
          </a>
          <ul class="dropdown-menu" aria-labelledby="dataScientistDropdown">
            <li><a class="dropdown-item" href="{% url 'dashboard' %}">Ver Feedback dos Utilizadores</a></li>
            <li><a class="dropdown-item" href="{% url 'model_performance' %}">Ver Métricas do Modelo</a></li>
            <li><a class="dropdown-item" href="{% url 'model_configuration' %}">Criar Configuração do Modelo</a></li>
            <li><a class="dropdown-item" href="{% url 'model_configuration_list' %}">Ver histórico de Configurações</a></li>
            <li><a class="dropdown-item" href="{% url 'configure_model' %}" >Configure New Model</a></li>
            <li><a href="{% url 'list_configurations' %}" class="dropdown-item">View Configurations</a></li>
          </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% load static %}

<div class="container mt-3">
  <div class="row text-center">
    <div class="col">
      <a href="{% url 'main_prevision' %}" class="btn btn-image" style="background-image: url('{% static 'main/prediction.webp' %}')"></a>
      <p class="btn-text">Prever Nota</p>
    </div>
    <div class="col">
      <a href="{% url 'saved_previsions' %}" class="btn btn-image" style="background-image: url('{% static 'main/saved.webp' %}')"></a>
      <p class="btn-text">Ver Previsões Guardadas</p>
    </div>
    <div class="col">
      <a href="{% url 'feedback' %}" class="btn btn-image" style="background-image: url('{% static 'main/Feedback.webp' %}')"></a>
      <p class="btn-text">Dar Feedback</p>
    </div>
  </div>
</div>




{% endblock %}


