{% extends 'main/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
  Bem-vindo, {{ user.username }}!
</div>
<style>
    .btn-image {
  background-size: cover;
  height: 100px;
  width: 100px;
  border: none;
  display: block;
  margin: auto;
}

.btn-text {
  text-align: center;
  color: white; /* Change color as needed */
}

/* Optional: Adjust the following to better fit your design needs */
.container .col {
  padding: 10px;
}

</style>


{% load static %}

<div class="container mt-3">
  <div class="row text-center">
    <div class="col">
      <a href="{% url 'main_prevision' %}" class="btn btn-image" style="background-image: url('{% static 'main/prediction.webp' %}')"></a>
      <p class="btn-text">Prever Nota</p>
    </div>
    <div class="col">
      <a href="{% url 'saved_previsions' %}" class="btn btn-image" style="background-image: url('{% static 'main/saved.webp' %}')"></a>
      <p class="btn-text">Ver Previsões Guardadas</p>
    </div>
    <div class="col">
      <a href="{% url 'feedback' %}" class="btn btn-image" style="background-image: url('{% static 'main/Feedback.webp' %}')"></a>
      <p class="btn-text">Dar Feedback</p>
    </div>
  </div>
</div>




{% endblock %}


