{% extends 'main/base.html' %}

{% block title %}Main Prevision Page - PrevUC{% endblock %}

{% block content %}
<div class="container mt-5">
        {% csrf_token %}
        <h2>Questionário para a previsão</h2>
        <h3>Este questionário dá a possibilidade de o utilizador escolher os parâmetros que irão afetar a previsão feita pelo modelo.</h3>
        <form action="{% url 'guest_prevision_form' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="gender" class="form-label">Género</label>
                <h6>Este parâmetro refere-se ao género do aluno. Se acha que existem mais do que estes géneros deverá consultar o padre local.</h6>
                <select class="form-select" id="gender" name="gender">
                    <option value="True">Homem</option>
                    <option value="False">Mulher</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="lunch" class="form-label">Lunch</label>
                <h6>Este parâmetro refere-se ao tipo de almoço o aluno teve.</h6>
                <select class="form-select" id="lunch" name="lunch">
                    <option value="True">Normal</option>
                    <option value="False">Grátis/Reduzido</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="testPreparationCourse" class="form-label">Curso de preparação para os testes completos</label>
                <h6>Este parâmetro representa se o aluno completou as preparações para os testes.</h6>
                <select class="form-select" id="testPreparationCourse" name="test_preparation_course">
                    <option value="False">Nenhuma</option>
                    <option value="True">Completo</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="raceEthnicity" class="form-label">Etnia</label>
                <h6>Este parâmetro refere-se à etnia do aluno.</h6>
                <select class="form.-select" id="raceEthnicity" name="race_ethnicity">
                    <option value="group A">Grupo A</option>
                    <option value="group B">Grupo B</option>
                    <option value="group C">Grupo C</option>
                    <option value="group D">Grupo D</option>
                    <option value="group E">Grupo E</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="parentalLevelOfEducation" class="form-label">Grau de educação dos pais</label>
                <h6>Este parâmetro refere-se ao tipo de educação que os pais do aluno tiveram.</h6>
                <select class="form-select" id="parentalLevelOfEducation" name="parental_level_of_education">
                    <option value="high school">Secundário</option>
                    <option value="some college">Alguma Faculdade</option>
                    <option value="bachelor's degree">Licenciatura</option>
                    <option value="some high school">Algum secundário </option>
                    <option value="master's degree">Mestrado</option>
                    <option value="associate's degree">Grau de Associado</option>
                </select>
            </div>
        <button type="submit" class="btn btn-primary">Previsão</button>
    </form>
</div>
{% endblock %}


