{% extends 'main/base.html' %}

{% block title %}Main Prevision Page - PrevUC{% endblock %}

{% block content %}
<style>
    body {
        background-color: #333;
    }
    .container_mt-5 {
        max-width: 340px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #444;
        border-radius: 8px;
        margin: 50px auto 100px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        color: #ccc;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .btn {
        width: 100%;
        padding: 10px;
        background-color: #5cb85c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #4cae4c;
    }
    .links a {
        color: #88c;
        text-decoration: none;
    }
    .links a:hover {
        text-decoration: underline;
    }
    </style>
<h2>Questionário para a previsão</h2>
        <h3>Este questionário dá a possibilidade de o utilizador escolher os parâmetros que irão afetar a previsão feita pelo modelo.</h3>

<div class="container_mt-5">
        {% csrf_token %}
        <form action="{% url 'main_prevision' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="gender" class="form-label">Género</label>
                <h6>Este parâmetro refere-se ao género do aluno. Se acha que existem mais do que estes géneros deverá consultar o padre local.</h6>
                <select class="form-select" id="gender" name="gender">
                    <option value="True">Homem</option>
                    <option value="False">Mulher</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="lunch" class="form-label">Lunch</label>
                <h6>Este parâmetro refere-se ao tipo de almoço o aluno teve.</h6>
                <select class="form-select" id="lunch" name="lunch">
                    <option value="True">Normal</option>
                    <option value="False">Grátis/Reduzido</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="testPreparationCourse" class="form-label">Curso de preparação para os testes completos</label>
                <h6>Este parâmetro representa se o aluno completou as preparações para os testes.</h6>
                <select class="form-select" id="testPreparationCourse" name="test_preparation_course">
                    <option value="False">Nenhuma</option>
                    <option value="True">Completo</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="raceEthnicity" class="form-label">Etnia</label>
                <h6>Este parâmetro refere-se à etnia do aluno.</h6>
                <select class="form.-select" id="raceEthnicity" name="race_ethnicity">
                    <option value="group A">Grupo A</option>
                    <option value="group B">Grupo B</option>
                    <option value="group C">Grupo C</option>
                    <option value="group D">Grupo D</option>
                    <option value="group E">Grupo E</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="parentalLevelOfEducation" class="form-label">Grau de educação dos pais</label>
                <h6>Este parâmetro refere-se ao tipo de educação que os pais do aluno tiveram.</h6>
                <select class="form-select" id="parentalLevelOfEducation" name="parental_level_of_education">
                    <option value="high school">Secundário</option>
                    <option value="some college">Alguma Faculdade</option>
                    <option value="bachelor's degree">Licenciatura</option>
                    <option value="some high school">Algum secundário </option>
                    <option value="master's degree">Mestrado</option>
                    <option value="associate's degree">Grau de Associado</option>
                </select>
            </div>
        <button type="submit" class="btn btn-primary">Previsão</button>
    </form>
</div>
{% endblock %}


