{% extends 'main/base.html' %}

{% block content %}
<h1>Configurations and Metrics</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Details</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for config in configurations %}
        <tr>
            <td>{{ config.id }}</td>
            <td>
                Layers: {{ config.num_layers }}<br>
                Neurons per Layer: {{ config.neurons_per_layer }}<br>
                Epochs: {{ config.epochs }}<br>
                Learning Rate: {{ config.learning_rate }}<br>
                Batch Size: {{ config.batch_size }}
            </td>
            <td>{{ config.rating }}</td>
            <td>
                <a href="{% url 'edit_configuration' config.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


