{% extends 'main/base.html' %}

{% block content %}
<style>
    body {
        background-color: #f4f4f9; /* Light background color for the whole page */
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .form-container {
        width: 35%;
        margin: 30px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        color: #333;
        text-align: left;
    }
    h1 {
        text-align: center;
        color: #333;
    }
    h6 {
        text-align:left;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    label {
        color: #333;
    }
    input[type="text"],
    textarea,
    input[type="number"],
    input[type="email"],
    input[type="password"],
    select {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fff;
        color: #333;
    }
    input::placeholder,
    textarea::placeholder {
        color: #aaa;
    }
    .btn {
        width: 50%;
        padding: 10px;
        background-color: #5cb85c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
        text-align: center;
        align-self: center; /* Center the button */
    }
    textarea {
        resize: none;
    }
    .btn:hover {
        background-color: #4cae4c;
    }
</style>

<div class="form-container">
    <h1>Testar Modelo</h1>
    <h6>Nesta página pode testar um modelo e ver as suas métricas de performance</h6>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_num_layers">Num de layers:</label>
            <input type="number" id="id_num_layers" name="num_layers" value="{{ form.num_layers.value }}" required>
        </div>
        <div>
            <label for="id_neurons_per_layer">Neurônios por layer:</label>
            <input type="text" id="id_neurons_per_layer" name="neurons_per_layer" value="{{ form.neurons_per_layer.value }}" required>
        </div>
        <div>
            <label for="id_epochs">Epochs:</label>
            <input type="number" id="id_epochs" name="epochs" value="{{ form.epochs.value }}" required>
        </div>
        <div>
            <label for="id_learning_rate">Learning rate:</label>
            <input type="number" step="0.01" id="id_learning_rate" name="learning_rate" value="{{ form.learning_rate.value }}" required>
        </div>
        <div>
            <label for="id_batch_size">Batch size:</label>
            <input type="number" id="id_batch_size" name="batch_size" value="{{ form.batch_size.value }}" required>
        </div>
        <button type="submit" class="btn">Testar Modelo</button>
    </form>
</div>
{% endblock %}
