{% extends 'main/base.html' %}

{% block content %}
<h1>Configurações e métricas</h1>
<a href="{% url 'configure_model' %}" class="btn">Adicione uma nova configuração</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        {% for config in configurations %}
        <tr>
            <td>{{ config.id }}</td>
            <td>
                Layers: {{ config.num_layers }}<br>
                Neurônios por Layer: {{ config.neurons_per_layer }}<br>
                Epochs: {{ config.epochs }}<br>
                Learning Rate: {{ config.learning_rate }}<br>
                Batch Size: {{ config.batch_size }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #ffffff;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    color: white;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;  /* Lighter border for better visibility */
    background-color: #333;  /* Dark background for cells */
    padding: 8px;
    text-align: left;
    color: white;  /* White text for better visibility */
}
th {
    background-color: #4CAF50;  /* Green background for headers */
}
tr:nth-child(even) {
    background-color: #444;  /* Slightly lighter row for even rows */
}
.btn, .edit-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
}
.btn:hover, .edit-btn:hover {
    background-color: #45a049;
}
</style>
{% endblock %}

