{% extends 'main/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h2>Política de Privacidade da PrevUC</h2>
<p>Na PrevUC, valorizamos a privacidade e a segurança dos dados dos nossos utilizadores. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos e protegemos as informações que nos fornece ao usar nosso site e serviços de previsão.</p>
<h3>Informações que Coletamos</h3>
<p>1-Informações Pessoais: Ao usar a PrevUC, podemos coletar informações pessoais como seu nome, endereço de e-mail e qualquer outra informação que forneça voluntariamente.</p>
<p>2-Dados para Previsão: Podemos coletar dados que fornece para análise preditiva (função exclusiva para os professores). Isso inclui, sendo anónimo quem é o aluno, informações sobre o género, notas de testes, educação dos pais, raça, almoço e preparação para os testes.</p>
<h3>Como Usamos as Informações Fornecidas</h3>
<p>1-O principal objetivo de coletar dados é fornecer serviços de análise preditiva. Podemos usar os dados que fornece para a criação de novos modelos e previsões. Observe que nem todos os dados fornecidos podem ser usados em previsões.</p>
<p>2-Comunicação: Podem ser usadas as suas informações de contato para comunicarmos consigo sobre nossos serviços, atualizações e anúncios importantes.</p>

{% endblock %}
