{% extends 'main/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<style>
    body {
        color: #fff;
        font-family: Arial, sans-serif;
        background-color: #282828;
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }
    .terms {
        width: 80%;
        margin: 30px auto;
        padding: 20px;
        background-color: #222;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
    .title {
        text-align: center;
        margin: 20px 0;
        font-size: 24px;
        color: #ccc;
    }
    p, h3 {
        text-align: left;
        margin-left: 20px;
        color: #ccc;
    }
    h3 {
        margin-top: 20px;
    }
</style>
<div class="terms">
    <h2 class="title">Política de Privacidade da PrevUC</h2>
    <p>Na PrevUC, valorizamos a privacidade e a segurança dos dados dos nossos utilizadores. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos e protegemos as informações que nos fornece ao usar nosso site e serviços de previsão.</p>
    <h3>Informações que Coletamos</h3>
    <p>1-Informações Pessoais: Ao usar a PrevUC, podemos coletar informações pessoais como seu nome, endereço de e-mail e qualquer outra informação que forneça voluntariamente.</p>
    <p>2-Dados para Previsão: Podemos coletar dados que fornece para análise preditiva (função exclusiva para os professores). Isso inclui, sendo anónimo quem é o aluno, informações sobre o género, notas de testes, educação dos pais, raça, almoço e preparação para os testes.</p>
    <h3>Como Usamos as Informações Fornecidas</h3>
    <p>1-O principal objetivo de coletar dados é fornecer serviços de análise preditiva. Podemos usar os dados que fornece para a criação de novos modelos e previsões. Observe que nem todos os dados fornecidos podem ser usados em previsões.</p>
    <p>2-Comunicação: Podem ser usadas as suas informações de contato para comunicarmos consigo sobre nossos serviços, atualizações e anúncios importantes.</p>
</div>
{% endblock %}
