{% extends 'main/base.html' %}

{% block head %}

{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
        margin: 0;
        padding: 0;
    }
    .container_x {
        width: 100%;
        max-width: 1400px; /* Set a max-width for better control */
        margin: 20px auto;
        padding: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: lightgoldenrodyellow;
    }
    h3 {
        text-align: center;
        color: white;
        background-color: #4CAF50;
        padding: 10px;
        border-radius: 5px;
        margin: 0; /* Remove margin */
    }
    .table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: center;
        color: black;
    }
    th {
        background-color: #4CAF50;
        color: black;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:nth-child(odd) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #eaeaea;
    }
    .btn {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: white;
    }
    .btn-success {
        background-color: #4CAF50;
    }
    .btn-success:hover {
        background-color: #45a049;
    }
    .btn-danger {
        background-color: #f44336;
    }
    .btn-danger:hover {
        background-color: #e31e10;
    }
</style>
<div class="container_x">
    {% if data_entries %}
    <h3>Entradas de Dados</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Gênero</th>
                <th>Almoço</th>
                <th>Curso de Preparação para Teste</th>
                <th>Raça/Etnia</th>
                <th>Nível de Educação dos Pais</th>
                <th>Nota de Matemática</th>
                <th>Nota de Leitura</th>
                <th>Nota de Escrita</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data_entries %}
            <tr>
                <td>{{ entry.get_gender_display }}</td>
                <td>{{ entry.get_lunch_display }}</td>
                <td>{{ entry.get_test_preparation_course_display }}</td>
                <td>{{ entry.race_ethnicity }}</td>
                <td>{{ entry.parental_level_of_education }}</td>
                <td>{{ entry.math_score }}</td>
                <td>{{ entry.reading_score }}</td>
                <td>{{ entry.writing_score }}</td>
                <td>
                    <!-- Form for validation -->
                    <form action="{% url 'validate_data' entry.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="data_entry_id" value="{{ entry.id }}" />
                        <button type="submit" class="btn btn-success" name="action" value="validate">Validar</button>
                    </form>
                    <!-- Form for deletion -->
                    <form action="{% url 'delete_data' entry.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="data_entry_id" value="{{ entry.id }}" />
                        <button type="submit" class="btn btn-danger" name="action" value="delete">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nenhuma entrada de dados encontrada. Por favor, envie alguns dados.</p>
    {% endif %}
</div>
{% endblock %}

